<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clear History</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div class="main_content">
      <h1>Clear Search History</h1>
      <br />
      <form action="/clearHistory" method="post">
        <input type="submit" value="Removing all searches" />
        <hr />
      </form>
      <div class="home">
        <p>Return to <a href="/index">Home</a></p>
      </div>
    </div>
  </body>
  <script>
    window.onsubmit = () => {
      if (
        confirm(
          "Are you sure you want to clear all of the user search history?"
        )
      ) {
        return true;
      }
      return false;
    };
  </script>
</html>
