<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <fieldset>
        <label>
          <strong>Username: </strong>
          <input type="text" name="username" />
        </label>
        <br />
        <br />
        <label>
          <strong>Password: </strong>
          <input type="password" name="password" />
        </label>
        <br />
        <br />
        <button type="submit">Login</button>
      </fieldset>
    </form>
    <br />
    <p>Return to <a href="/index">Home</a></p>
  </body>
</html>
