<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Completed</title>
  </head>
  <body>
    <h1>Registration Completed</h1>
    <p>Return to <a href="/index">Home</a></p>
  </body>
</html>
