<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search For News</title>
  </head>
  <body>
    <% if (numOfResults > 0){ %>
    <h1>All Results for '<%- query %>'</h1>
    <ul>
      <% for (let item of results) { %>
      <li><%- item %></li>
      <% } %>
    </ul>
    <% } else { %>
    <h1>No Results for '<%- query %>'</h1>
    <% } %>
    <p>Return to <a href="/index">Home</a></p>
  </body>
</html>
