<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search For News</title>
  </head>
  <body>
    <h1>Search For News</h1>
    <form action="/search" method="post">
      <fieldset>
        <label>
          <strong>Keyword: </strong>
          <input type="text" name="keyword" id="keyword" />
          <br />
          <br />
          <input type="button" value="Search By Keyword" onclick="search" />

          <input type="button" value="Today's Headlines" />
        </label>
      </fieldset>
    </form>
    <p>Return to <a href="/index">Home</a></p>
  </body>
  <script>
    const keywordSearchButton = document.getElemnt;
  </script>
</html>
